<html>
<body>
<h2>CommonUtils</h2>
<h4>This utility class contains generic methods that can be used across the store application.</h4>
<h3>Methods</h3>
<table summary="" cellspacing="" cellpadding="3" width="100%" border="1">
<tr>
<table cellpadding="3" cellspacing="3">
<tr bgcolor="#CCCCFF">
<div style="font-weight:bold;font-size: 17px">getDisplayOrderNumber</div>
<div style="font-size: 15px">The getDisplayOrderNumber method returns either the order number, comma separated order numbers or 'Multiple'.</div>
<div style="font-size: 16px;font-weight:bold">Arguments</div>
<table summary="" cellspacing="0" cellpadding="2" width="100%" border="1">
<tr bgcolor="#D3D3D3">
<th style="text-align:left">Name</th><th style="text-align:left">Type</th><th style="text-align:left">Description</th>
</tr>
<tr>
<td>orderNo</td><td>String</td><td>Orderno string which needs to displayed.</td>
</tr>
<tr>
<td>commasOrLiteral</td><td>String</td><td>Allowed values 'COMMAS|LITERAL'. 'COMMAS' returns comma separated order no. 'LITERAL' returns 'Multiple'.</td>
</tr>
</table>
<div></div>
<div>Returns : String</div>
</tr>
<br>
</table>
</tr>
<tr>
<table cellpadding="3" cellspacing="3">
<tr bgcolor="#CCCCFF">
<div style="font-weight:bold;font-size: 17px">getBundleKeyForTabHeader</div>
<div style="font-size: 15px">The getBundleKeyForTabHeader method returns either the order number or 'Multiple' to display in tab headers.</div>
<div style="font-size: 16px;font-weight:bold">Arguments</div>
<table summary="" cellspacing="0" cellpadding="2" width="100%" border="1">
<tr bgcolor="#D3D3D3">
<th style="text-align:left">Name</th><th style="text-align:left">Type</th><th style="text-align:left">Description</th>
</tr>
<tr>
<td>orderNo</td><td>String</td><td>Orderno string which needs to displayed.</td>
</tr>
</table>
<div></div>
<div>Returns : String</div>
</tr>
<br>
</table>
</tr>
</table>
</body>
</html>
